
* {
    text-rendering: optimizelegibility;
}

body {
	background-color: #f5f5f5;
	color: #212121;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
}

a {
	color: #003399;
	background-color: transparent;
	font-weight: normal;
}

h1 {
	color: #212121;
	border-left: 3px solid #3c4252;
	font-size: 19px;
	font-weight: normal;
	padding-left: 15px;
	line-height: 35px;
	text-transform: uppercase;
	font-weight: 600;
}

.block {
	background-color: #fff;
	margin: 10px;
	padding: 15px 20px;
	border-radius: 2px;
	box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.14), 0 2px 2px 0 rgba(0, 0, 0, 0.098), 0 1px 5px 0 rgba(0, 0, 0, 0.082);
}

.full-block {
	display: block;
	width: 100%;
}

.half-block {
	display: block;
	width: 50%;
	float: left;
}

.top-block {
	display: block;
	width: 30%;
}

.clear {
	clear: both;
}

.alert {
	padding: 10px;
	border: 1px solid #eaeaea;
}

b {
	font-weight: 600;
}

.btn {
	border: 0;
	color: #c5c7cb;
	background-color: #3c4252;
	border-radius: 2px;
	padding: 8px 10px;
	font-size: 14px;
	cursor: pointer;
}
.btn:hover {
	background-color: #646e87;
}

.add-attr {
	line-height: 30px;
	font-family: "Open Sans",sans-serif;
	padding-left: 15px;
}
.add-attr:focus {
	border: 2px solid #03a9f4;
}


.sortable {
	padding: 15px 0;
	/*padding: 15px 20px;*/
	font-size: 14px;
}

.sortable li {
	list-style: outside none none;
	line-height: 30px;
	padding-left: 15px;
	cursor: pointer;
}


/*ul {
	font-size: 14px;
}

ul li {
	list-style: outside none none;
	line-height: 30px;
	padding-left: 15px;
}*/

#page-leftbar {
    width: 400px;
}

#page-content {
	margin-left: 400px;
}